$brand-color: #cea92a;
$dark-brand-color: darken( $brand-color, 10% );
$light-brand-color: lighten( $brand-color, 10% );
$lightgrey: #ECECF0;
$mediumgrey: rgb(102,102,102);
$darkgrey: #314153;
$canvas: white;
