body{
  background: rgba(13,88,158,1);
  background: linear-gradient(to bottom, rgba(13,88,158,1) 0%, rgba(136,4,159,1) 100%);
  transition: background ease-in-out;
}
.tagline{
  font-size: 1.5em;
  max-width: 15em;
  text-align: center;
  font-weight: 300;
}
